name: Deploy React App to IIS Local Path

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install dependencies
      run: npm install

    - name: Build React app
      run: npm run build

    - name: Copy web.config
      run: copy web.config dist\web.config

    - name: Deploy to IIS folder
      run: xcopy dist "D:\reactjs\dist" /E /H /C /I /Y
